@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
html,body{font-family:'NanumSquare'; color:#333; background:#eef0f4;}

.wrap{width:100%; height:auto;}
.container{width:1240px; height:auto; margin:0 auto;}
#header{width:100%; height:auto; position:fixed; z-index:100;}
/* position:fixed로 수정하기 */
.h_top{width:100%; height:35px; background:#eee; display:flex; justify-content:flex-end;}
.home{width:325px; height:100%;  font-family:'dotum';}
.home>ul{width:100%; height:100%; display:flex; justify-content:space-around; align-items:center;}
.home>ul>li{border-right:1px solid #33333336; font-size:12px; padding-right:13px; box-sizing:border-box;}
.home>ul>li:last-child{border:none; padding:0;}
.h_bottom{width:100%; height:70px; background:#fff; display:flex; justify-content:space-between; padding:0 30px; box-sizing:border-box;}
.logo{width:340px; height:100%; display:flex; align-items:center;}
.menu{width:1240px; height:100%; position:relative;}
/* .menu>ul{width:100%; height:100%; display:flex;  align-items:center; justify-content:space-around; font-size:18px; font-weight:bold;}
.menu>ul>li{border-right:1px solid #33333350; padding-right:75px; box-sizing:border-box;}
.menu>ul>li:first-child{padding-left:20px;}
.menu>ul>li:last-child{border:none; padding-right:20px;} */
.menu>ul{width:100%; height:100%; display:flex; justify-content:space-between; align-items:center; font-size:18px; font-weight:bold;}
.menu>ul>li{width:100%; text-align:center; border-right:1px solid #3333335b;}
.menu>ul>li:last-child{border:none;}
.menu>ul>li:hover>.submenu{background:#fff; color:#555;}
.submenu{background:#3c4756; color:#fff; font-size:15px; font-weight:normal; position:absolute; top:70px; padding-top:30px; width:16.6%; height:500px; box-sizing:border-box; z-index:2; display:none;}
.submenu>li{line-height:40px; text-align:left; padding:0 15px;}
.submenu>li:hover{background:#154283; color:#fff;}
.menu>ul>li:hover>.submenu::after{content:" "; width:100%; height:6px; background:#129cad; position:absolute; top:-6px; left:0;}
.sb_bg{position:absolute; top:105px; left:0; width:100%; height:500px; background:#3c4756; color:#fff; z-index:1; display:none;}
.sb_bg>img{margin-left:135px;}
.sb_bg>img:first-child{margin:40px 190px; height:45px;}
.sb_bg>.sub_img{position:absolute; bottom:0; left:0;}

/* mobile menu start */
#mobile_wrap{width:100%; height:100vh; background:#00000041; position:fixed; top:0; left:0; display:none;}
.mobile_menu{width:300px; height:100vh; background:#fff; position:absolute; right:0;}
.m_tit{width:100%; height:60px; background:#154283; color:#fff; display:flex; justify-content:space-between; align-items:center;}
.m_tit>ul{width:80%; height:100%; display:flex; align-items:center; justify-content:space-around; font-size:14px; margin-left:5px;}
.m_tit>ul>li{line-height:40px;}
/* .m_tit>ul>li>a>img{filter:brightness(0) invert(1);}
이미지를 하얗게 바꾸는 방법 */
.m_tit>ul>li>a>img{width:35px; margin-top:12px;}
.m_tit>ul>li:last-child{position:relative;}
.m_tit>ul>li:last-child:hover>.lang{display:block;}
.m_tit>ul>li>.lang{position:absolute; color:#333; width:100%; background:#fff; font-size:14px; text-align:center; line-height:30px; border:1px solid #ddd; display:none;}
.m_tit>ul>li>.lang>li{width:100%; height:30px;  border-bottom:1px solid #ddd;}
.m_tit>ul>li>.lang>li:last-child{border-bottom:0;}
.m_tit>.close{font-size:30px; margin-right:15px;}
.m_menu{width:100%; height:auto;}
.m_menu>ul>li{border-bottom:1px solid #ddd; line-height:60px; font-size:18px; font-weight:700;}
.m_menu>ul>li:last-child{border:none;}
.m_menu>ul>li>a{display:flex; justify-content:space-between; padding:0 25px; box-sizing:border-box;}
.m_menu>ul>li>a>span{font-family:'nanumsquareextrabold'; color:#fff;}
.m_submenu{width:100%; height:auto; background:#ebeaea; margin:20px 0; font-size:16px; font-weight:normal; display:none;}
.m_submenu>li{border-bottom:1px solid #ddd; padding:0 20px; box-sizing:border-box; line-height:50px;}
.m_submenu>li:last-child{border:none;}
/* mobile menu end */

.side_menu{width:340px; height:100%;}
.side_menu>ul{display:flex; width:100%; height:100%; justify-content:flex-end; align-items:center;}
.side_menu>ul>li{margin-left:10px;}
.side_menu>ul>li>a>span{background:#154283; color:#fff; padding:8px 12px; font-size:15px;}
.mbtn{display:none;}

#banner{width:100%; height:auto; overflow:hidden; padding-top:120px; box-sizing:border-box;}
.slide_box{width:100%; height:665px; display:flex; flex-wrap:wrap;}
.slide{width:100%; height:100%;}
.slide>a{width:100%; height:100%; display:block;}
.slide>a>img{width:100%;}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{color:#000; padding:15px; background:#aaaaaa71;}
.swiper-pagination-bullet-active{background:#000 !important;}
/* css의 우선순위
    1. script css
    2. 태그내에 사용된 css
    3. 외부,내부 css
   충돌이 난 경우 css의 순서에 따라 아래 작성된 css가 덮어씌워진다.
   ** 우선순위를 높여주는 속성값 >> !important */

#contents{width:100%; height:auto;}
.link_wrap{width:100%; height:110px; padding:20px 0 15px 0; box-sizing:border-box;}
.link_wrap>ul{width:100%; height:75px; background:#fff; display:flex;}
.link_wrap>ul>li{width:100%; height:100%;}
.link_wrap>ul>li>a{width:100%; height:100%;}
.link{width:100%; height:100%; display:flex; align-items:center; justify-content:space-around; font-size:18px; font-weight:700;cursor:pointer; padding:13px 20px; box-sizing:border-box; border-right:1px solid #dcdee2; }
.link>li:first-child>img{transition:all 0.8s;}
.link:hover>li:first-child>img{transform:rotateY(360deg);}
.l2{padding:15px 5px 12px 5px; line-height:20px;}
.l3{padding:18px 20px 6px 20px;}
.l4{border:none;}

.contents_wrap{width:100%; height:auto; display:flex; flex-wrap:wrap; justify-content:space-between; padding-bottom:25px; box-sizing:border-box; align-content:center;}
.box{width:395px; height:265px; background:#fff; padding:20px; box-sizing:border-box; margin:15px 0;}
.b1{display:flex; flex-wrap:wrap; overflow:hidden; position:relative; padding:0;}
.b1_slide{width:100%; height:100%;}
.b1_slide>a{width:100%; height:100%; display:block;}
.b1_slide>a>img{width:100%; height: 100%;}
.b1_popup{width:100%; height:22%; background:#000000ad; position:absolute; bottom:0; color:#fff; font-size:20px; padding:0 20px; box-sizing:border-box; line-height:58px; font-weight:100;}
.b2{padding:20px 30px; box-sizing:border-box; position:relative;}
.b2_alram{position:absolute; right:30px;}
.b2_time{width:100%; height:35%;}
.b2_time>ul>li{font-size:24px; font-weight:700;}
.b2_time>ul>li>p{font-size:13px; font-weight:bold; margin-top:8px; letter-spacing:-1px;}
.b2_date{width:100%; height:65%;}
.b2_d1{width:100%; height:33%;}
.b2_d1:last-child{margin-top:20px;}
.b2_d1>ul{display:flex; margin-top:4px;}
.b2_d1>ul>.tit{width:42px; height:42px; border:1px solid #1543833d; box-sizing:border-box; border-radius:100%; font-size:13px; letter-spacing:-1px; font-weight:800; color:#154283; display:flex; justify-content:center; align-items:center;}
.b2_d1>ul>.txt{margin-left:10px; font-size:14px; letter-spacing:-1px; margin-top:5px;}
.b2_d1>ul>.txt>p{font-weight:700;}
.b2_d1>ul>.txt>span{color:#555;}
.b3{padding:20px 30px; box-sizing:border-box;}
.b3>.edu{width:100%; height:50%; border-bottom:1px solid #aaaaaad7; box-sizing:border-box;}
.b3>.edu>ul>a{display:flex; flex-wrap:wrap; justify-content:space-between;}
.b3>.edu>ul>a>.tit{width:100%; color:#154282; font-weight:700; font-size:21px; line-height:50px;}
.b3>.edu>ul>a>.txt{width:60%; font-size:14px;}
.b3>.edu>ul>a>.arrow{width:90px; height:35px; border:1px solid #aaa; display:flex; justify-content:center; align-items:center}
.b3>.edu>ul>a img{transition:all 0.6s;}
.b3>.edu>ul>a:hover img{transform:translateX(10px);}
.b3>.culture{width:100%; height:50%; display:flex; align-items:center;}
.b3>.culture>ul>a{display:flex; flex-wrap:wrap; justify-content:space-between;}
.b3>.culture>ul>a>.tit{width:100%; color:#154282; font-weight:700; font-size:21px; line-height:50px;}
.b3>.culture>ul>a>.txt{width:60%; font-size:14px;}
.b3>.culture>ul>a>.arrow{width:90px; height:35px; border:1px solid #aaa; display:flex; justify-content:center; align-items:center}
.b3>.culture>ul>a img{transition:all 0.6s;}
.b3>.culture>ul>a:hover img{transform:translateX(10px);}
.b4{background:#dae1d9 url(../img/b4_img.jpg) no-repeat right bottom; background-size:100%; display:flex; flex-wrap:wrap; justify-content:center; align-content:center; padding-top:35px; box-sizing:border-box; padding-bottom:0;}
.b4>.tit{width:250px; height:100px; position:relative; text-align:center;}
.b4>.tit>p:first-child{font-size:10px; letter-spacing:2px;}
.b4>.tit>p:nth-child(2){font-size:24px; color:#000; font-family: 'NanumSquareAceb'; line-height:45px;}
.b4>.tit>p:nth-child(3){font-size:18px; font-weight:700; color:#666;}
.b4>.tit::after{content:" "; width:50px; height:2px; background:#444; position:absolute; bottom:0; left:100px;}
.b4>.btn{width:250px; height:115px;}
/* .b4>.btn>ul{width:100%; height:100%; display:flex; flex-wrap:wrap; justify-content:center; align-content:center;}
.b4>.btn>ul>li{border:1px solid #000; padding:13px 20px; font-size:14px; margin:5px 10px; box-sizing:border-box; background:#fff;}
.b4>.btn>ul>li:nth-child(2){padding:13px 25px;} */
.b4>.btn>ul{display:flex; flex-wrap:wrap; width:100%; height:100%; justify-content:center; align-content:center; padding-top:15px; box-sizing:border-box;}
.b4>.btn>ul>li{width:100px; height:40px; border:1px solid #000; background:#ffffff85; margin:3px 8px; text-align:center; line-height:40px; font-size:14px;}
.b4>.btn>ul>li:hover>a{background:#295995db; color:#fff; font-weight:600;}
.b5>.tit{width:100%; height:50px; border-bottom:1px solid #aaaaaa9a; display:flex; justify-content:space-between; box-sizing:border-box; position:relative;}
.b5>.tit::before{content:" "; position:absolute; border-top:9px solid transparent; border-right:9px solid transparent; border-bottom:9px solid #154283; border-left:9px solid transparent; bottom:-2px; left:16px;}
.b5>.tit>ul{display:flex;}
.b5>.tit>ul>li{line-height:50px; font-size:18px; font-weight:bold; cursor:pointer;}
.b5>.tit>ul>li:nth-child(1){color:#154283;}
.b5>.tit>ul>li:nth-child(2){font-size:6px; color:#aaa; margin:0 10px;}
.b5>.tit>div>p{line-height:50px; font-size:25px; font-weight:600; cursor:pointer;}
.b5>.new_txt{width:100%; height:175px; margin-top:10px; box-sizing:border-box;}
/* .b5>.new_txt>ul{width:100%; height:100%;}
.b5>.new_txt>ul>li{width:100%; height:30px; font-size:14px; display:flex; justify-content:space-between; line-height:30px;}
.b5>.new_txt>ul>li>a{width:75%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.b5>.new_txt>ul>li>span{width:25%; text-align:right; font-size:13px;} */
.b5>.new_txt>ul{width:100%; height:100%; display:flex; flex-wrap:wrap; align-content:space-around;}
.b5>.new_txt>ul>li{width:100%;}
.b5>.new_txt>ul>li>a{display:flex; justify-content:space-between;}
.b5>.new_txt>ul>li>a>p{width:75%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:14px;}
.b5>.new_txt>ul>li>a>span{font-size:13px;}
.b5>.edu_txt{width:100%; height:175px; margin-top:10px; box-sizing:border-box; display:none;}
.b5>.edu_txt>ul{width:100%; height:100%; display:flex; flex-wrap:wrap; align-content:space-around;}
.b5>.edu_txt>ul>li{width:100%;}
.b5>.edu_txt>ul>li>a{display:flex; justify-content:space-between;}
.b5>.edu_txt>ul>li>a>p{width:75%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:14px;}
.b5>.edu_txt>ul>li>a>span{font-size:13px;}
.b6{display:flex;}
.b6>div{width:50%; height:100%; padding:20px 0; box-sizing:border-box;}
/* .b6>.m_news{width:50%; height:50%;}
.b6>.m_news>ul>li>p{color:#154282; font-weight:700; font-size:21px; width:100%; height:50%;}
.b6>.m_news>ul>li>span{width:60%; font-size:14px;}
.b6 .arrow>ul>li{border:1px solid #aaa;width:170px; height:35px; line-height:35px;}
.b6 .arrow>ul>li>a{display:flex; justify-content:space-between;} */
.b6>.m_news>ul>li>p{color:#154283; font-size:21px; font-weight:700; height:40px;}
.b6>.m_news>ul>li>span{display:block; height:60px; font-size:14px;}
.b6 .arrow>ul>li>a{display:flex; border:1px solid #aaa; width:85%; height:40px; justify-content:space-around; align-items:center; color:#666; font-size:15px; margin-bottom:10px; box-sizing:border-box;}
.b6 .arrow>ul>li>a:hover>p{color:#000;}
.b6 .arrow>ul>li>a>p{transition:all 0.3s;}
.b6>.m_img{padding-bottom:10px;}
.b6>.m_img>a{width:100%; height:100%; display:flex; align-items:center; justify-content:center;}
.b6>.m_img img{height:100%;}

#footer{width:100%; height:auto; background:#3b3b3d; color:#fff; font-size:14px;}
.f_top{width:100%; height:70px; border-bottom:1px solid #eef0f434; display:flex; justify-content:space-between;}
.f_menu{width:50%; height:100%;}
/* .f_menu>ul{width:80%; height:100%; display:flex; align-items:center; justify-content:space-around; font-size:14px;}
.f_menu>ul>li{border-right:1px solid #fff;}
.f_menu>ul>li:nth-child(1){border:none;}
.f_menu>ul>li:nth-child(1)>a{background:#154283; color:#fff; padding:8px 12px; font-size:15px;}
.f_menu>ul>li:nth-child(3)>a{color:#ffff00;} */
.f_menu>ul{width:85%; height:100%; display:flex; justify-content:space-around; align-items:center; margin-left:-10px; margin-top:5px;}
.f_menu>ul>li{position:relative; text-align:center; line-height:30px;}
.f_menu>ul>li>a>p{width:90px; height:30px; background:#1c4982; line-height:30px; text-align:center;}
.f_menu>ul>li>a>strong{color:#fdcc34;}
.f_menu>ul>li:first-child::after{display:none;}
.f_menu>ul>li:nth-child(2)::after{display:none;}
.f_menu>ul>li::after{content:" "; width:1px; height:20px; background:#fff; position:absolute; top:5px; left:-10px;}
.f_site{width:47.5%; height:100%; display:flex; justify-content:space-between; align-items:center; color:#333; font-size:13px;}
.f_site>.site{width:190px; height:35px; background:#d8d8d8; position:relative;}
.f_site>.site>.tit{width:100%; height:100%; display:flex; justify-content:space-between; align-items:center; padding:0 20px; box-sizing:border-box;font-weight:900; }
.f_site>.site>.tit>li:nth-child(2){color:#888; font-size:7px;}
/* .f_site>.site>.txt{width:100%; height:auto; background:#fff; position:absolute; top:-434px; left:0; font-weight:normal;}
.f_site>.site>.txt>li{height:30px; border:1px solid #aaa; line-height:30px; border-bottom:none; padding:0 10px;}
.f_site>.site>.txt>li:hover{font-weight:900;} */
.f_site>.site>.txt{position:absolute; left:0; width:100%; height:auto; background:#fff; border:1px solid #bababa; box-sizing:border-box; top:-490px; height:auto; border-bottom:none; display:none;}
.f_site>.site>.txt>li{width:100%; height:35px; line-height:35px; border-bottom:1px solid #bababa; box-sizing:border-box; padding:0 10px; font-size:13px;}
.f_site>.site>.txt>li:last-child{border-bottom:none;}
.f_site>.site>.txt>li:hover{font-weight:900;}
.f_site>.s2>.txt{height:490px; overflow:scroll; overflow-x:hidden;}
.f_site>.s3>.txt{top:-420px;}
.f_site>.site:hover .txt{display:block;}
.f_bottom{width:100%; height:90px; display:flex;}
.f_logo{width:200px; height:100%; display:flex; align-items:center;}
.copy{width:630px; height:100%; display:flex; align-items:center;}
.copy>p{line-height:22px;}
.sns{width:410px; height:100%;}
.sns>ul{width:100%; height:100%; display:flex; align-items:center; justify-content:space-between;}
.sns>ul>li:first-child>a>img{height:60px;}


@media (min-width: 1200px) and (max-width:1500px) {
.container{width:1150px;}
.logo{width:320px;}
.submenu>li{padding:0 5px; font-size:11px;}
.side_menu>ul>li>a>span{font-size:13px;}
.sb_bg>img:first-child{margin-left:10px; height:50px;}
.sb_bg>img{width:200px; margin-left:10px;}
.slide_box{height:615px;}
.link{font-size:16px; padding:16px 10px;}
.box{width:32%;}
.f_menu>ul>li::after{left:-8px;}
.f_site>.site{width:180px;}
.copy{width:620px;}
.sns{width:425px;}}

@media (min-width: 992px) and (max-width: 1199px) { 
.container{width:93%;}
.menu{display:none;}
.side_menu>ul>li{display:none;}
.side_menu>ul>.mbtn{display:block;}
.slide_box{height:490px;}
.slide_box>a>img{height:100%;}
.link{font-size:16px; padding:0;}
.link>li:first-child>img{display:none;}
.link>li>img{height:25px;}
.box{width:49%;}
.f_top{flex-wrap:wrap; justify-content:center; height:auto;}
.f_menu{width:100%; padding:20px 0; box-sizing:border-box; display:flex; justify-content:center;}
.f_menu>ul{width:65%;}
.f_menu>ul>li::after{left:-15px;}
.f_site{width:65%; padding-bottom:20px; box-sizing:border-box;}
.f_site>.site{width:180px;}
.f_bottom{flex-wrap:wrap; height:auto; justify-content:center;}
.f_logo{display:none;}
.copy{width:100%; padding:20px 0; box-sizing:border-box; display:flex; justify-content:center;}
.copy>p{width:65%; text-align:center;}
.sns{padding-bottom:20px; box-sizing:border-box;}}

@media (min-width: 768px) and (max-width: 991px) {
.container{width:93%;}
.menu{display:none;}
.side_menu>ul>li{display:none;}
.side_menu>ul>.mbtn{display:block;}
.slide_box{height:370px;}
.slide>a>img{height:100%;}
.link_wrap{height:220px;}
.link_wrap>ul{flex-wrap:wrap; height:70px;}
.link_wrap>ul>li{width:50%; background:#fff;}
.l1,.l2{border-bottom:1px solid #dcdee2;}
.l2{border-right:none;}
.box{width:49%;}
.f_top{flex-wrap:wrap; justify-content:center; height:auto;}
.f_menu{width:100%; padding:20px 0; box-sizing:border-box; display:flex; justify-content:center;}
.f_menu>ul{width:85%;}
.f_menu>ul>li::after{left:-16px;}
.f_site{width:80%; padding-bottom:20px; box-sizing:border-box;}
.f_site>.site{width:180px;}
.f_site>.site>.txt>li{font-size:12px;}
.f_bottom{flex-wrap:wrap; height:auto; justify-content:center;}
.f_logo{display:none;}
.copy{width:100%; padding:20px 0; box-sizing:border-box; display:flex; justify-content:center;}
.copy>p{width:65%; text-align:center;}
.sns{padding-bottom:20px; box-sizing:border-box;}} 

@media (min-width: 576px) and (max-width: 767px) {
 .container{width:93%;}
 #header{position:relative;}
 .menu{display:none;}
 #banner{padding-top:10px;}
 .side_menu>ul>li{display:none;}
 .side_menu>ul>.mbtn{display:block;}
 .slide_box{height:370px;}
 .slide>a>img{height:100%;}
 .link_wrap{height:180px;}
 .link_wrap>ul{flex-wrap:wrap; height:70px;}
 .link_wrap>ul>li{width:50%; background:#fff;}
 .link>li:first-child>img{display:none;}
 .link{font-size:16px;}
 .l1,.l2{border-bottom:1px solid #dcdee2;}
 .l2{border-right:none;}
 .contents_wrap{padding-bottom:5px;}
 .box{width:100%; margin:5px 0;}
 .b3>.culture{display:block; margin-top:20px;}
 .f_top{flex-wrap:wrap; height:auto; border:none;}
 .f_menu{width:100%; height:auto; padding:10px 0; box-sizing:border-box;}
 .f_menu>ul{flex-wrap:wrap; width:100%;}
 .f_menu>ul>li{width:100%; height:32px; border:1px solid #666; margin:3px 0; box-sizing:border-box; line-height:35px;}
 .f_menu>ul>li:first-child{background:#1c4982;}
 .f_menu>ul>li>a{width:100%; display:flex; justify-content:center;}
 .f_menu>ul>li::after{display:none;}
 .f_site{width:100%; height:auto; padding-bottom:2px; box-sizing:border-box; flex-wrap:wrap;}
 .f_site>.site{width:100%; margin:3px 0;}
 .f_bottom{flex-wrap:wrap; height:auto;}
 .f_logo{display:none;}
 .copy{justify-content:center; text-align:center; padding:10px 0;}
 .sns{width:100%;}
 .sns>ul{flex-wrap:wrap; justify-content:center;}
 .sns>ul>li{padding:3px; box-sizing:border-box;}
 .sns>ul>li:first-child{width:100%; text-align:center;}
 .sns>ul>li:last-child{width:100%; text-align:center;}}

@media (max-width: 575px) { 
 .container{width:93%;}
 #header{position:relative;}
 .menu{display:none;}
 #banner{padding-top:0;}
 .side_menu>ul>li{display:none;}
 .side_menu>ul>.mbtn{display:block;}
 .slide_box{height:370px;}
 .slide>a>img{height:100%;}
 .link_wrap{height:185px;}
 .link_wrap>ul{flex-wrap:wrap; height:80px;}
 .link_wrap>ul>li{width:50%; background:#fff;}
 .link>li:first-child>img{display:none;}
 .link{font-size:16px; display:flex; flex-wrap:wrap;}
 .l1{border-bottom:1px solid #dcdee2;}
 .l2{border-bottom:1px solid #dcdee2; border-right:none;}
 .contents_wrap{padding-bottom:5px;}
 .box{width:100%; margin:5px 0;}
 .b3>.culture{display:block; margin-top:20px;}
 .f_top{flex-wrap:wrap; height:auto; border:none;}
 .f_menu{width:100%; height:auto; padding:10px 0; box-sizing:border-box;}
 .f_menu>ul{flex-wrap:wrap; width:100%;}
 .f_menu>ul>li{width:100%; height:32px; border:1px solid #666; margin:3px 0; box-sizing:border-box; line-height:35px;}
 .f_menu>ul>li:first-child{background:#1c4982;}
 .f_menu>ul>li>a{width:100%; display:flex; justify-content:center;}
 .f_menu>ul>li::after{display:none;}
 .f_site{width:100%; height:auto; padding-bottom:2px; box-sizing:border-box; flex-wrap:wrap;}
 .f_site>.site{width:100%; margin:3px 0;}
 .f_bottom{flex-wrap:wrap; height:auto;}
 .f_logo{display:none;}
 .copy{justify-content:center; text-align:center; padding:10px 0;}
 .sns{width:100%;}
 .sns>ul{flex-wrap:wrap; justify-content:center;}
 .sns>ul>li{padding:3px; box-sizing:border-box;}
 .sns>ul>li:first-child{width:100%; text-align:center;}
 .sns>ul>li:last-child{width:100%; text-align:center;}
}