@charset "utf-8";

.wrap{width:100%; height:100%; display:flex;}
#header{width:350px; height:100%; border-right:1px solid #ddd; padding:10px 20px; box-sizing:border-box; display:flex; flex-wrap:wrap; align-content:space-between;}
.menu{width:100%; height:auto;}
.logo{width:100%; height:100px; display:flex; align-items:center;}
.logo>a>img{width:180px;}

.menu>ul{width:100%; height:auto;}
.menu>ul>li{width:100%; height:50px;}
.menu>ul>li>a{width:100%; height:100%; display:flex; align-items:center; padding-left:15px; box-sizing:border-box; font-weight:600;}
.menu>ul>li>a>img{margin-right:15px;}
.menu>ul>li:hover>a{background:#ddd; border-radius:10px;}

.submenu_wrap{width:70px; height:100%; background:#fff; border-right:1px solid #ddd; position:absolute; top:0; left:0; display:flex; flex-wrap:wrap; align-content:space-between; padding:10px; box-sizing:border-box; display:none;}
.submenu_wrap>.menu>.logo img{width:50px; height:50px;}

.search_wrap{position:absolute; top:0; left:-400px; width:350px; height:100%; border-right:1px solid #ddd; background:#fff; border-radius:0 15px 15px 0; box-shadow:3px 0 5px #ddd;}
/* border-top-right-radius:값; */
.search{width:100%; height:20%; border-bottom:1px solid #ddd; padding:30px 20px; box-sizing:border-box;}
.search>.tit{width:100%; height:70%; font-size:23px; font-weight:800;}
.search>.txt{width:100%; height:30%;}
.search>.txt>form{width:100%; height:100%;}
.search>.txt>form>input{width:100%; height:40px; border:none; background:#eee; border-radius:5px; padding:0 10px;}

.recent{width:100%; height:80%; padding:0 20px; box-sizing:border-box;}
.recent>.tit{width:100%; height:10%; font-size:18px; font-weight:bold; display:flex; align-items:center;}
.recent>.txt{width:100%; height:90%; display:flex; align-items:center; justify-content:center; font-size:14px; color:#666;}

.alram_wrap{position:absolute; top:0; left:-400px; width:350px; height:100%; border-right:1px solid #ddd; background:#fff; border-radius:0 15px 15px 0; box-shadow:3px 0 5px #ddd;}
.alram{width:100%; height:auto; padding:10px 20px; box-sizing:border-box; border-bottom:1px solid #ddd;}
.alram>p{width:100%; height:10%; font-size:23px; font-weight:bold;}
.alram>ul{width:100%; height:auto;}
.alram>ul>li{width:100%; height:40px; line-height:40px; font-weight:bold;}
.alram>ul>.follow{width:100%; height:50px; font-size:14px; font-weight:normal; padding:10px 0;}
.alram>ul>.follow>ul{width:100%; height:100%; display:flex; justify-content:space-between; align-items:center;}
.alram>ul>.follow>ul>li:first-child{width:80%; height:100%; display:flex; align-items:center; line-height:20px;}
.alram>ul>.follow>ul>li>span{display:block; width:60px; background:#0095f6; color:#fff; text-align:center; height:30px; line-height:30px; border-radius:5px; cursor:pointer;}
.alram>ul>.follow img{width:50px; height:50px; border-radius:100%; margin-right:10px;}

.create_wrap{width:100%; height:100%; background:#000000a6; position:absolute; top:0; left:0; z-index:100; display:none;}
.create_wrap>p{position:absolute; top:0; right:10px; color:#fff; font-size:30px; cursor:default;}
.create{width:600px; height:700px; background:#fff; position:absolute; top:0; left:0; bottom:0; right:0; margin:auto; border-radius:8px;}
.create>.tit{width:100%; height:50px; border-bottom:1px solid #ddd; text-align:center; line-height:50px; box-sizing:border-box;}
.create>.txt{width:100%; height:650px; display:flex; align-items:center; justify-content:center; text-align:center;}
.create>.txt>ul>li{width:100%; margin:20px 0; font-size:18px;}
.create #file{display:none;}
.create>.txt>ul>li>label{background:#0095f6; padding:10px 15px; border-radius:5px; color:#fff; font-size:15px;}

#contents{width:calc(100% - 350px); height:100%; display:flex;}
.feed_wrap{width:1000px; height:100%;}
.story_wrap{width:100%; height:15%;}
.story{width:700px; height:100%; margin:0 auto; display:flex; justify-content:space-around; align-items:center; font-size:14px;}
.story img{width:60px; height:60px; border-radius:100%; border:2px solid #c13584;}

.post_wrap{width:100%; height:85%; overflow:scroll;}
.post_wrap::-webkit-scrollbar{display:none;}
.post{width:500px; height:650px; margin:0 auto; margin-bottom:30px;}
.id_box{width:100%; height:70px; padding:0 15px; box-sizing:border-box;}
.id_box>ul{width:100%; height:100%; display:flex; align-items:center;}
.id_box>ul>li>a{display:flex; align-items:center; font-weight:bold;}
.id_box>ul img{width:40px; height:40px; border-radius:100%; border:2px solid #c13584; margin-right:10px;}
.id_box span{margin-left:3px;}

.post_img{width:100%; height:400px; background:#000; display:flex; justify-content:center; align-items:center; overflow:hidden;}
.post_img>img{height:100%;}

.txt_box{width:100%; height:180px;}
.like_box{width:100%; height:60px; display:flex; flex-wrap:wrap; align-content:space-between; padding:3px 0; box-sizing:border-box;}
#hate,#save{display:none;}
.like_box>ul{width:100%; display:flex; justify-content:space-between;}
.like_box>p{width:100%; font-weight:bold;}

.feed_txt{width:100%; height:50px; display:flex; align-items:center;}
.feed_txt>p{width:60%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.feed_txt>span{margin-left:5px; font-size:14px; color:#666; cursor:pointer;}

.comment{width:100%; height:70px; padding-bottom:10px; box-sizing:border-box;}
.comment>form{width:100%; height:100%;}
.comment>form>p{width:100%; height:35px; line-height:35px;}
.comment>form>p>input{border:none; width:90%; height:100%; border-bottom:1px solid #ddd; padding:0 10px;}
.comment>form>p>button{width:10%; height:100%; border:none; background:#0095f6; color:#fff; cursor:pointer;}

.recommend_wrap{width:400px; height:100%; padding-top:50px; box-sizing:border-box;}
.recommend_wrap img{width:50px; height:50px; border-radius:100%; margin-right:15px;}
.recommend_wrap span{color:#0095f6; cursor:default;}
.recommend_wrap span:hover{color:#333;}

.my_info{width:80%; height:60px;}
.my_info>ul{width:100%; height:100%; display:flex; align-items:center; justify-content:space-between;}
.my_info>ul>li>a{display:flex; align-items:center; font-weight:bold;}

.recommend{width:80%; height:60px; display:flex; justify-content:space-between; align-items:center; font-weight:bold;}
.recommend>.t1{font-size:18px;}

.friend{width:80%; height:auto;}
.friend>ul{width:100%; height:60px; display:flex; align-items:center; justify-content:space-between;}
.friend>ul>li>a{display:flex; font-weight:bold; position:relative;}
.friend>ul>li>a>.txt{position:absolute; top:20px; left:64px; width:100%; color:#666; font-size:13px; font-weight:normal;}
